# Exhibit configuration:
# ----------------------
# Options specified here are overridden by command line options
#
# set docs/rsync_setup.txt for setup instructions for image upload
#
# NOTE: you should chmod 0400 this file after setup, for security



# IPHOTO LIBRARY SETTINGS
[library]
# the location of your iPhoto Library (full or relative path)
location=~/Pictures/iPhoto Library/AlbumData.xml



# SQL SERVER SETTINGS
[sql]
# IP or DNS name of the server running SQL database
address=yourSQLserver.example.com

# the username for the SQL server 
username=yourSQLusername

# The password for the SQL server
password=yourSQLpassword

# The database to use on the SQL server
database=yourSQLdatabase

# The type of database to use (only MySql currently - case sensitive!)
type=MySql

# Prepend string to use on tables in database
prepend=exhibit_



# EXPORT SETTINGS
[export]
# local path to export images to
path=~/Pictures/Exhibit-Exported/
